@import "normalize";
@import "global";
@import "vars";

.header {
  position: relative;
  height: 100vh;

  .header-slider {
    &-item {
      position: relative;
      height: 100vh;
      background-image: url("@images/header-bg.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .slider-item-info {
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
        text-transform: uppercase;
        color: #fff;

        .slider-item-info-title {
          margin-bottom: 48px;
          font-weight: 800;
          font-size: 80px;
          line-height: 86px;
        }

        .slider-item-info-suptitle {
          margin-bottom: 5px;
        }

        .slider-item-info-suptext {
          margin-bottom: 8px;
        }

        .slider-item-info-text {
          margin-bottom: 20px;
          font-weight: 800;
          font-size: 40px;
          line-height: 46px;
        }
      }
    }
  }

  .slider-dots {
    position: absolute;
    right: 50px;
    bottom: 36px;
    width: 100%;
    max-width: 920px;
    color: #fff;

    .slider-dots-item {
      .dots-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 4px solid #fff;
        padding-top: 6px;
        width: 200px;
        height: 28px;

        &-number {
          font-weight: 800;
          font-size: 24px;
          line-height: 34px;
        }

        &-name {
          font-weight: 300;
          line-height: 19px;
          text-transform: capitalize;
        }
      }
    }

    .slick-current {
      .dots-box {
        border-top: 4px solid $green;
      }
    }

    .slick-track {
      transform: none !important;
    }
  }

  .header-title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    max-width: 467px;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.0654;
  }

  .header-aside {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, 0.25);
    height: 100vh;
    text-align: center;
    color: #fff;

    .menu {
      padding-top: 40px;

      &-list {
        a {
          color: #fff;

          span {
            display: block;
            margin-bottom: 20px;
            padding-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            text-transform: capitalize;
          }
        }
      }
    }

    .header-date {
      font-weight: 800;
      font-size: 72px;
      line-height: 64px;

      span {
        display: block;
        margin-bottom: 30px;
        padding-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
      }
    }

    .header-location {
      position: relative;
      display: inline-block;
      padding-left: 19px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.05px;
      text-transform: capitalize;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 11px;
        height: 13px;
        background-image: url("@images/marker.svg");
      }
    }

    .header-search {
      padding-top: 15px;
      padding-bottom: 35px;
    }
  }

  .header-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    .line-animation {
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      animation: animdash 5s infinite 6s;
    }
  }

  .header-arrows {
    position: absolute;
    left: 209px;
    bottom: 30px;
    z-index: 3;
  }
}

.slider-arrows {
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 4;
  cursor: pointer;
}

.slider-arrows-left {
  right: 125px;
}

@keyframes animdash {
  100% {
    stroke-dashoffset: 0;
  }
}

.main {
  .surf {
    background-image: url("@images/surf-bg.png");
    background-position: right 200px;
    background-size: auto;
    background-repeat: no-repeat;

    .surf-subtitle {
      margin-top: -86px;
      padding-right: 80px;
      text-align: right;
    }

    .surf-slider {
      padding-top: 110px;

      .slick-slide:nth-child(4n + 1) {
        margin-top: 32px;
      }

      .slick-slide:nth-child(4n + 3) {
        margin-top: 89px;
      }

      .slick-current {
        .surf-box-inner-btn {
          display: block;
        }

        .surf-box-inner {
          background: rgba(#1c2121, 0.3);
        }
      }

      .surf-box {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-inner {
          position: relative;
          min-height: 750px;
          background: rgba(#1c2121, 0.85);
          transition: all 0.5s;

          &-title {
            padding: 72px 0 0 40px;
            width: 140px;
            font-weight: 800;
            font-size: 40px;
            line-height: 36px; /* 90% */
          }

          &-location {
            position: absolute;
            left: 40px;
            bottom: 80px;
            width: 0;
            height: 0;
            font-size: 18px;
            line-height: 22px; /* 122.222% */
            letter-spacing: 8px;
            white-space: nowrap;
            transform: rotate(-90deg);

            span {
              font-weight: 100;
            }
          }

          &-btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            text-align: center;
          }

          &:hover {
            background: rgba(#1c2121, 0.3);

            .surf-box-inner-btn {
              display: block;
            }
          }
        }
      }

      .slider-arrows {
        top: 50px;
        opacity: 0.25;
      }
    }

    .slider-map {
      margin: 0 auto;
      min-height: 635px;
      max-width: 1200px;
      background-image: url("@images/world-map-dots.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .slick-list {
        min-height: 635px;
      }

      .slick-current {
        .slider-map-dots-content {
          display: block;
          padding: 28px 31px 0 32px;
          width: 285px;
        }
      }

      .slider-map-dots-content-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        .slider-map-dots-content-title {
          position: relative;
          margin-bottom: 8px;
          padding-bottom: 8px;
          font-weight: 800;
          font-size: 18px;
          line-height: 26px; /* 144.444% */

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
          }
        }

        .slider-map-dots-content-subtitle {
          font-size: 16px;
          line-height: 19px; /* 118.75% */
          text-transform: capitalize;
        }

        .slider-map-dots-content-link {
          padding-top: 4px;
        }

        .slider-map-dots-content-item {
          text-align: center;

          img {
            margin-bottom: 7px;
          }

          .slider-map-dots-content-number {
            font-weight: 800;
            font-size: 16px;
            line-height: 23px; /* 143.75% */
          }

          .slider-map-dots-content-name {
            font-weight: 300;
            font-size: 10px;
            line-height: 12px; /* 120% */
          }
        }
      }

      .slider-map-dots-circle {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        background-color: $green;
      }

      .slider-map-dots-content {
        position: absolute;
        bottom: 35px;
        display: none;
        border-radius: 6px;
        background: rgba(#0f1010, 0.7);
        transform: translateX(-50%);

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -21px;
          border-right: 12px solid transparent;
          border-bottom: 20px solid $green;
          border-left: 12px solid transparent;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 0;
          height: 0;
        }
      }

      .slider-map-dots {
        position: relative;
      }

      .slider-map-dots-1 {
        left: 0;
        top: 335px;

        .slider-map-dots-content {
          transform: translateX(0);

          &::before {
            left: 0;
          }
        }
      }

      .slider-map-dots-2 {
        left: 0;
        top: 270px;

        .slider-map-dots-circle {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            right: -15px;
            top: -25px;
            width: 14px;
            height: 17px;
            background-image: url("@images/mini-marker.png");
            background-size: cover;
          }
        }
      }

      .slider-map-dots-3 {
        left: 25px;
        top: 330px;
      }

      .slider-map-dots-4 {
        left: -25px;
        top: 470px;
      }

      .slider-map-dots-5 {
        left: -65px;
        top: 230px;
      }

      .slider-map-dots-6 {
        left: -120px;
        top: 550px;
      }

      .slider-map-dots-7 {
        left: -95px;
        top: 375px;
      }

      .slider-map-dots-8 {
        left: 35px;
        top: 470px;

        .slider-map-dots-content {
          transform: translateX(-262px);

          &::before {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}

.slider-map .slick-track {
  transform: translate3d(0, 0, 0) !important;
}

.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px; /* 90% */

  span {
    position: relative;
    display: inline-block;
    margin-left: 19px;
    padding: 17px 57px 15px 17px;
    background-color: $green;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 50%;
      width: 20px;
      height: 1px;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      right: 17px;
      top: 50%;
      width: 25px;
      height: 21px;
      background-image: url("@images/arrows-right.svg");
      transform: translateY(-50%);
    }
  }
}

.holder {
  background-image: url("@images/travel-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;

  .slider-arrows {
    top: 225px;
    opacity: 0.25;
  }

  &.sleep {
    background-image: url("@images/frangipani.png");
  }
}

.holder-slider {
  &-head {
    min-height: 780px;
    background-position: top left;
    background-repeat: no-repeat;
  }

  &-description {
    margin-top: -230px;
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;

    .description-head {
      position: relative;
      padding-right: 68px;

      img {
        position: absolute;
        right: 0;
        top: 0;
      }

      .holder-star-list {
        position: absolute;
        right: 0;
        top: 0;

        img {
          position: static;
        }
      }

      &.description-head-sleep {
        padding-right: 215px;
      }
    }
  }

  &-subtitle {
    padding-top: 132px;
    padding-right: 80px;
    text-align: right;
  }

  &-btn {
    text-align: center;
  }
}

.holder-slider-info {
  display: flex;
  justify-content: space-around;
}

.holder-slider-info-item {
  position: relative;
  margin-bottom: 66px;
  min-height: 200px;
}

.holder-slider-info-subtitle {
  position: absolute;
  left: -97px;
  top: 97px;
  width: 200px;
  height: 0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  white-space: nowrap;
  text-align: right;
  opacity: 0.5;
  transform: rotate(-90deg);
}

.holder-slider-info-title {
  position: relative;
  padding-left: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px; /* 90% */

  .holder-slider-pricing-span {
    position: absolute;
    right: 0;
    bottom: -8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    letter-spacing: 5.25px;
    text-align: right;
    opacity: 0.7463;
  }
}

.shop {
  background-image: url("@images/shop-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.shop-slider {
  padding-left: 132px;
}

.shop-slider-inner {
  display: flex;
}

.shop-slider-info {
  margin-right: 40px;
  padding-top: 150px;
  width: 100%;
  max-width: 480px;
}

.description-head-shop {
  margin-bottom: 47px;
  max-width: 340px;
}

.shop-star-list {
  margin-left: -9px;
}

.shop-slider-price {
  margin-bottom: 64px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px; /* 125% */

  sup {
    padding-left: 5px;
    font-size: 18px;
  }
}
